#msg {
  font-size: 24px;
  position: absolute;
  z-index: 2;
  background-color: green;
  color: white;
  width: auto;
  left: calc(50% - 25%);
  text-align: center;
  border-radius: 5px;
  border: 3px solid red;
  padding: 20px;
  display: none; /* Alapértelmezés szerint rejtve */
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  justify-content: center;
}
.card {
  width: 100px;
  height: 140px;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}